*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

img{
    max-width: 100%;
}

ul li{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

.bottone{
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 5px 13px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
}


/*****************
HEADER
*****************/

.header{
    padding: 13px;
}

.row.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 14px;
}

/*****************
SECTION 1
*****************/

.section1{
    background-color: rgb(180, 208, 231);
}

.container.section1{
    margin: 0 auto;
    max-width: 1300px;
    min-height: 720px;
    padding-top: 50px;
    position: relative;
}

.row.section1{
    display: flex;
    flex-wrap: wrap;
}

.col.section1.title{
    flex-basis: 95%;
    margin-bottom: 40px;
}

.col.section1.testo{
    flex-basis: 30%;
    font-size: 18px;
}

.bottone.prova{
    margin: 30px 0;
    font-size: 15px;
}

.col-section1-img{
    flex-basis: 70%;
}

.title{
    font-size: 75px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
}

.img-coordinate{
    max-width: 900px;
    position: absolute;
}

.arrow{
    position: absolute;
    bottom: 20px;;
    left: 0;
    font-size: 50px;
}

/*****************
SECTION 2
*****************/

.container.section2{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 150px;
}

.container.section2>h1{
    margin-bottom: 50px;
    font-size: 35px;
}

.radio{
    margin-right: 50px;
}

.row.section2{
    display: flex;
    flex-wrap: wrap;
    gap: calc(10%/2);
    font-size: 14px;
    padding-top: 40px;
}

.col.section2{
    flex-basis: 30%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 930px;
}

.col.section2.enterprise{
    flex-basis: 100%;
    height: 230px;
    margin-top: 30px;
}

.col.section2>header{
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.main-content{
    padding: 25px;
}

.main-content>h2{
    margin-bottom: 20px;
}

.main-content>p{
    margin-bottom: 20px
}

.main-content>.mese{
    margin-bottom: 50px;
    margin-top: -10px;
    color: rgba(0, 0, 0, 0.5);
}

.main-content>div>ul>li{
    margin-bottom: 25px;
    text-align: justify;
}

.main-content>.bottone{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.linea::after{
    content:"";
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 40px;
    padding-left: 10px;
    display: block;
    margin-top: 40px;
}

.punti-salienti{
    margin-top: 50px;
}

.punti-salienti>strong{
    margin-bottom: 20px;
    display: inline-block;
}

.punti-salienti>div>ul>li>p{
    margin-bottom: 20px;
}

.row-col{
    display: flex;
    justify-content: space-between;
}

.col-enterprise{
    margin-bottom: 50px;
}

.col-enterprise>h2{
    margin-bottom: 15px;
}


/*****************
SECTION 3
*****************/

.row.section3{
    display: flex;
}


.col.section3.img-partner{
    flex-basis: 60%;
}

.col.section3.card{
    flex-basis: 40%;
}


.img-partner{
    max-width: 624px;
}

.card{
    padding-left: 30px;
    padding-top: 30px;
}

.card>h2{
    padding-bottom: 20px;
}

.card>a{
    padding: 0 15px;
    line-height: 40px;
    border: 2px solid black;
    margin-top: 25px;
    display: block;
    width: fit-content;
}

.card>a:hover{
    background-color: black;
    color:white
}

/*ICON*/


.utente::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f007";
    margin-right: 5px;
    font-size: 15px;
}

.spazio::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f07b";
    margin-right: 5px;
    font-size: 15px;
}

.share::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f1e0";
    margin-right: 5px;
    font-size: 15px;
}

.item-salienti::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
    margin-right: 5px;
    font-size: 15px;
    color:  rgb(0, 97, 255);
}

.singolo::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f007";
    margin-right: 5px;
    font-size: 15px;
}

.team::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0c0";
    margin-right: 5px;
    font-size: 15px;
}

.azienda::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f1ad";
    margin-right: 5px;
    font-size: 15px;
}

/*****************
REGOLE DEBUG
*****************/

.debug .row{
    border: 3px dashed green;
    padding: 5px;
}

.debug .col{
    border: 3px dashed black;
    padding: 5px;
}

.debug .container{
    border: 3px dashed red;
    padding: 10px;
}

.debug .col.section1{
    height: 400px;
}

.debug .col.section1.title{
    height: 50px;
}